
node_modules/
.vscode/
.idea/
.DS_Store
Thumbs.db

generatedModels/
.openapi-generator/

allure-report/
allure-results/
reports/
videos/
screenshots/
.auth/

build/
dist/
*.log

**/*.js
!playwright.config.ts
!cucumber.cjs
!*.cjs
!*.config.js

node_modules/**/*.js