name: Playwright CI Tests

on:
  push:
    branches: [ main, master, lesson22 ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write
  checks: write
  pull-requests: write
  actions: read
  pages: write
  id-token: write

env:
  AUTOMATION_EXERCISE_EMAIL: ${{ secrets.AUTOMATION_EXERCISE_EMAIL }}
  AUTOMATION_EXERCISE_PASSWORD: ${{ secrets.AUTOMATION_EXERCISE_PASSWORD }}

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      BUILD_FOLDER: ./lesson22
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 24.x
    
    - name: Install dependencies
      run: npm ci
      working-directory: ${{ env.BUILD_FOLDER }}
    
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps chromium
      working-directory: ${{ env.BUILD_FOLDER }}
    
    - name: Run Playwright tests
      run: npm test
      working-directory: ${{ env.BUILD_FOLDER }}

    - uses: actions/upload-artifact@v4
      if: always() 
      with:
        name: playwright-html-report
        path: ${{ env.BUILD_FOLDER }}/playwright-report 
        retention-days: 30